@import "~bootstrap/scss/bootstrap";

html, body, #root {
    height: 100%;
}

body {
    padding: 1.25rem 0;
}

p:last-child {
    margin-bottom: 0;
}

.tooltip-danger {
    .tooltip-inner {
        background: $danger;
    }

    &.bs-tooltip-top .arrow::before {
        border-top-color: $danger;
    }
}

.component {
    padding-bottom: 1.25rem;
}

.card-header {
    span {
        vertical-align: text-top;
    }

    *:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.nav-tabs {
    margin-bottom: 1rem;
}

.squared-buttons {
    button {
        border-radius: 0;
    }
}

// -------------------------------------------------------------------------------------------------
// Numbers
// -------------------------------------------------------------------------------------------------

#numbers {
    max-width: 6in;
}

// -------------------------------------------------------------------------------------------------
// Fragment generator
// -------------------------------------------------------------------------------------------------

#help-popover {
    z-index: 4;
}

#generator-buttons-tooltip {
    z-index: 2;
}

#generated, #hidden {
    min-height: 3em;
}

#module-list {
    height: 100%;
    overflow-y: auto;
}

#module-control {
    padding: 0.5rem;
}

#components > div {
    @media(max-width: 576px) {
        padding-bottom: 1.25rem;
    }
}

.module:not(:last-of-type) {
    margin-bottom: 1.25rem;
}

.module-controls {
    width: 100%;
}

.content-header {
    color: $secondary;
    padding: 0.3rem 0.5rem;
}

.content {
    max-height: 3in;
    overflow-y: auto;

    .list-group .list-group-item {
        border: none;
    }

    .row {
        border-bottom: 1px solid $gray-300;

        .col {
            white-space: nowrap;
            overflow-x: auto;
        }
    }
}

.vocabulary-header {
    padding: 0.25rem 0.5rem;
    text-align: center;
}
